.result_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height:auto;
    width: 100%;
    background-color: aliceblue;
    color:black;
    
}

.result_word{
    margin:2px;
    flex: 1 0 15%;
    color: #171e42;
  padding: 10px;
}